<div id="contact">
	<img src="http://i909.photobucket.com/albums/ac297/austin_stone1/cuteicle_zps8jcmcgk9.jpg" title="Portrait" />
	<h2>Contact Me</h2>
	<div class="message">
		I am currently looking for full-time opportunities in the San Francisco Bay Area.<br/>
	</div>
	<ul>
		<li>
			<!-- other characters in here to discourage spam -->
			<i class="fa fa-envelope"></i>
			<span id="email">angishen@utexas.edu</span>
		</li>
		<li>
			<!-- other characters in here to discourage spam -->
			<i class="fa fa-phone"></i>
			<span id="phone">2144189831</span>
		</li>
		<li>
			<i class="fa fa-linkedin"></i>
			<a href="https://www.linkedin.com/in/angishen">Connect on LinkedIn</a>
		</li>
	</ul>
	<a class="fa fa-times-circle" id="contact_close" href="/"></a>
</div>
<script type="text/javascript">
// replace obfuscated phone and email with links
(function() {
	var email = document.getElementById("email");
	var email_text = email.innerText.trim();
	var email_a = document.createElement("a");
	email_a.setAttribute("href", "mailto:"+email_text);
	email_a.innerText = email_text;
	email.parentNode.replaceChild(email_a, email);

	var phone = document.getElementById("phone");
	var phone_text = phone.innerText.trim();
	var phone_num = phone_text.replace(".", "").replace(".", "");
	var phone_a = document.createElement("a");
	phone_a.setAttribute("href", "tel:"+phone_num);
	phone_a.className = "tel_link";
	phone_a.innerText = phone_text;
	phone.parentNode.replaceChild(phone_a, phone);
})();
</script>
